
.campaign_name{
    text-align: left;
}
.campaigninfo{
    font-size: 12px;
    line-height: 1rem;
}
.status_btn{
    padding: 10px 10px;
    border: 1px solid rgb(61, 61, 61);
}
.status_lable{
    color: rgb(1, 201, 1);
    font-weight: 500;
}
.status{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.register_day{
    font-weight: 500;
}